<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="patch" th:action="@{/admin/update-user}" th:object="${userUpd}">
    <label for="firstname">First Name:</label>
    <input id="firstname" type="text" th:field="*{firstName}" th:value="${userUpd.getFirstName()}">
    <br>
    <label for="lastname">Last Name:</label>
    <input id="lastname" type="text" th:field="*{lastName}" th:value="${userUpd.getLastName()}">
    <br>
    <label for="age">Age:</label>
    <input id="age" type="text" th:field="*{age}" th:value="${userUpd.getAge()}">
    <br>
    <label for="email">Email:</label>
    <input id="email" type="text" th:field="*{email}" th:value="${userUpd.getEmail()}">
    <br>
    <label for="password">Password:</label>
    <input id="password" type="text" th:field="*{email}" th:value="${userUpd.getEmail()}">
    <br>
    <input type="hidden" th:field="*{id}" th:value="${userUpd.getId()}">
    <input type="hidden" th:field="*{password}" th:value="${userUpd.getPassword()}">

    <label>Select role:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:value="${role.getId()}"
               th:text="${role.getRole().replace('ROLE_', '') + ' '}"
               th:field="*{roles}"
        />
    </label>

    <input type="submit" value="Save">
</form>
<br>
<br>
<form th:action="@{/logout}" th:method="GET" >
    <button type="submit">Logout</button>
</form>
</body>
</html>